<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="card p-4 bg-dark text-light" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login</h2>
      
      <!-- Mensagem de Erro -->
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="errorMessage = null"></button>

      </div>
      
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
      <div class="text-center mt-3">
        <a routerLink="/register" class="btn btn-link text-light">Registrar</a>
      </div>
    </div>
  </div>
</div>