<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="card p-4 bg-dark text-light w-100" style="max-width: 800px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Minhas Candidaturas</h2>
      <div class="d-flex justify-content-between mb-4">
        <a routerLink="/candidato/dashboard" class="btn btn-outline-light">Dashboard</a>
        <a routerLink="/vagas/listar" class="btn btn-outline-light">Ver Vagas</a>
      </div>
      <ul class="list-group" *ngIf="candidaturas.length > 0; else noCandidaturas">
        <li *ngFor="let candidatura of candidaturas" class="list-group-item bg-dark text-light border-secondary mb-2">
          <h3>{{ candidatura.vaga?.titulo }}</h3>
          <p>{{ candidatura.vaga?.descricao }}</p>
          <p>ID da Candidatura: {{ candidatura.id }}</p>
          <p>Data da Candidatura: {{ candidatura.dataCandidatura}}</p>
          <button *ngIf="candidatura.id !== undefined" class="btn btn-danger" (click)="excluirCandidatura(candidatura.id!)">Excluir</button>
        </li>
      </ul>
      <ng-template #noCandidaturas>
        <p class="text-center">Você não tem candidaturas no momento.</p>
      </ng-template>
    </div>
  </div>
</div>